* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

 body{
 	background-color: white;
 } 

.imagenHero{
background-image: url('../img/hero2.jpg');
height: 70rem;
background-repeat: no-repeat;
background-size: cover;
}

.contenedorNavegador{
	display: flex;
}

.logo{
	margin-left: 3rem;
	display: flex;
	height: 20rem;
}
.contendorNav{ 
	height: 20rem;
	display: flex;
	align-items: center;
	margin-left: 27rem;

}
ul li a{
	text-decoration: none;
	font-size: 2.5rem;
	color: black;
	font-family: 'Public Sans', sans-serif;
	font-weight: 700;	
}
.linkInicio{
	color: white;
}
.orderlist{
	display: flex;
	align-items: center;

}

li {
	display: flex;
	justify-content: center;
	margin-left: 4rem;
	text-decoration: none;
}