* {
  padding: 0;
  margin: 0;
 }
html{
	box-sizing: border-box;
	font-size: 62.5%;
}
.imagenHero{
background-image: url('../img/hero2.jpg');
height: 55rem;
background-repeat: no-repeat;
background-size: cover;
}
@media (min-width: 1024px) {
  .imagenHero {
 height: 70rem;
 } }
.contenedorNavegador{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}
.logo{
	justify-content: center;
	display: flex;
	height: 15rem;
}
@media (min-width: 1024px) {
  .logo {
 height: 15rem;
 } }
.contendorNav{ 
	height: 15rem;
	display: flex;
	align-items: center;
}

ul li a{
	text-decoration: none;
	font-size: 2.5rem;
	color: black;
	font-family: 'Public Sans', sans-serif;
	font-weight: 700;	
}
.linkInicio{
	color: #640202;
}
.link{
	color: white;
}
.orderlist{
	display: flex;
	align-items: center;

}

li {
	display: flex;
	justify-content: center;
	margin-left: 4rem;
	text-decoration: none;
}
h1{
	font-family: 'Public Sans', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}
p{
	font-family: 'Oswald', sans-serif;
}

.contenedorOferta{
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
}
.contenedorOferta__Menu1{
	display: flex;
	flex-direction: column;
	height: 55rem;
	background-color: #8b0409;
	width: 30%;
	margin-left: 5rem;
	margin-top: 5rem;
	align-items: center;
	justify-content: center;
}
.contenedorOferta__Titulo{
	font-family: 'Public Sans', sans-serif;
	color: white;
	font-size: 3.3rem;	
	font-weight: 700;	
	margin-bottom: .5rem;
	text-align: center;	
}
.contenedorOferta__Subtitulo{
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 1.6rem;
	text-align: center;
}
.ContenedorEntrantes{
	margin-top: 1rem;
	margin-bottom: 2rem;
	height: 3rem;
}
.contenedorOferta__TituloMenu{
	font-size: 1.8rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: white;
	text-align: center;
}
.contenedorOferta__contenido{
	font-size: 1.8rem;
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
	margin-top: .5rem;
}
.contenedorPrincipales{
	margin-top: 2rem;
}
.contenedorOferta__precioAnterior{
	font-size: 2.3rem;
	font-family: 'Public Sans', sans-serif; 
	font-weight: 700;
	color: white;
	text-align: center;
	margin-top: 1.5rem;
}
.contenedorOferta__precio{
	font-size: 3rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: white;
	margin-top: .5rem;
}
.contenedorOferta__Menu2{
	display: flex;
	flex-direction: column;
	height: 65rem;
	background-color: #640202;
	width: 35%;
	align-items: center;
	justify-content: center;
}
.contenedorPrincipales2{
	margin-top: 5rem;
}
.contenedorPrincipales3{
	margin-top: 2rem;
}
.contenedorOferta__Menu3{
	display: flex;
	flex-direction: column;
	height: 55rem;
	background-color: #8b0409;
	width: 30%;
	margin-top: 5rem;
	align-items: center;
	justify-content: center;
	margin-right: 5rem;
}
.contenedorImagenes{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 10rem;
}
@media (min-width: 1024px) {
  .contenedorImagenes {
    flex-direction: row;} 
}


.ContenedorImagenes__contenedor{
	width: 100%
	margin-right:  1.5rem;
	margin-left: 1.5rem;
	
}

.ContenedorImagenes__contenedor--imagen{
	display: flex;
	justify-content: center;
}

.contenedorImagenes__Imagen{
	width: 30rem;
	height: 15rem;
}
h4{
	font-size: 2.5rem;
	font-family: 'Public Sans', sans-serif;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.contenedorImagenes__texto{
		font-family: 'Oswald', sans-serif;
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 3rem;
}
.contenedorImagenes__dibujo{

	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}
.contenedorImagenes__dibujo--contenedor{
	background-color: black;
	border-radius: 10rem;
	height: 8rem;
	width: 8rem;
}
.contenedorImagenes__dibujo--parrafo{
	display: flex;
	justify-content: center;
	height: 7.5rem;
	align-items: center;
}
.contenedorImagenes__dibujo--viñeta{
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	color: white;
	font-weight: 700;
	text-decoration: none;
}
.contenedorMapahora{
	display: flex;
	flex-direction: row;
	background-color: #8b0409;
	border: solid 1px black;

}
.contenedorMapahora__mapa{
	display: flex;
	justify-content: center;
	width: 70%;
	border: solid 1px black;
}
.contenedorMapahora__hora{
	display: flex;
	flex-direction: column;
	width: 30%
}
h5{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 3rem;
	text-align: center;
	margin-bottom: 3rem;
}
.contenedorMapahora__hora--dia{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	margin-top: .6rem;
	margin-bottom: .6rem;
}
hr{
	border: .1rem dashed white; 
}
footer{
	background-color: #640202;
	height: 23rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.footerContenedor{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 33%;
	border-right: .1rem dashed white;
	margin-top: 2rem;
	margin-bottom: 4rem;
}
.footerContenedor__Redes{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 33%;
}
.footerContenedor__Redes--Logos{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.redesSoc{
	height: 5rem;
	width: 5rem;
	margin-left: 1rem;
}

.contenedorContacto{
		display: flex;
		justify-content: center;
}

.contenedorContacto2{
	height: 45rem;
	width: 35%;	
	margin-bottom: 3rem;
	padding: 4rem;
	border: .5rem groove gray;
}
.contenedorFormulario{
	display: flex;
	flex-direction: column;
}
input{
	margin-bottom: 2rem;
	padding: .5rem;
	border: .2rem groove gray;
}
label{
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: .5rem;
	color: white;
}
textarea{
	margin-bottom: 3rem;
	border: .2rem groove gray;
}

.boton{
	height: 4.5rem;
	width: 45%;
	border-radius: 4rem;
	background-color: slategray;
	margin-left: 2rem;
	font-size: 1.5rem;
	color: white;
}
.boton:hover{
	cursor: pointer;
		background-color: black;

}
.navegador2{
	background-color: white;
}
.imagenfondo{
	background-image: url('../img/hero.jpg');
	height: 70rem;
	background-repeat: no-repeat;
	background-size: cover;
}
.tituloContacto{
	margin-top: 0rem;
	padding: 2.5rem;
	color: white;
}
.imagenNosotros{
	background-image: url('../img/nosotros2.jpg');
	height: 41rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.contenedor__Nosotros{
	margin: 2rem;
	display: flex;
	flex-direction: row;
	height: 25rem;
	align-items: center;
}
.contenedorNosotros--Contenedor{
	width: 100%;
	margin-left: 1rem;
	margin-right: 1rem;
}
.contenedorNosotros--Contenedor--titulo{
	font-size: 3rem;
	text-align: center;
	margin-right: 2rem;
}
.contenedorNosotros--Contenedor--parrafo{
	font-size: 1.8rem;
	text-align: center;
}
h2{
	font-size: 3rem;
	text-align: center;
	margin-right: 2rem;
	font-family: 'Public Sans', sans-serif;
	font-weight: 700;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}
.contenedorNosotros--Contenedor--Imagen{
	display: flex;
	justify-content: center;
}
.contenedorNosotros--imagen{
	height: 20rem;
	width: 70%;

}
.contenedorNosotros--imagen:hover {
	cursor: pointer;
	width: 100%;
	height: 25rem;
	transition: width 2s, height 2s;
}
.imagenTaway{
	background-image: url('../img/tawayfondo.jpg');
	height: 50rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
.contenedorTakeAway{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	height: 70rem;
}
@media (min-width: 1024px) {
  .contenedorTakeAway {
	display: flex;
	flex-direction: row;
	height: 50rem;
 }
}
.contenedorTakeAway__texto{
	width: 50%;
}
.contenedorTakeAway__fotos{
	display: flex;
	flex-direction: row;
	width: 100%;
}
@media (min-width: 1024px) {
  .contenedorTakeAway__fotos {
	display: flex;
	flex-direction: column;
	width: 50%;
 }
}
 .contenedorTakeAway__texto--titulo{
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
.contenedorTakeAway__texto--parrafo{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2.5rem;
	margin-left: 1rem;
	margin-right: 2rem;
}

.contenedorTakeAway__texto--imagen{
	height: 30rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.contenedorTakeAway__fotos {
	width: 100%;
	margin-right: 2rem;
	margin-left: 2rem;
 }
 @media (min-width: 1024px) {
 .contenedorTakeAway__fotos {
	width: 50%;

 }
}
.contenedorTakeAway__imagenes--imagen{
	height: 15rem;
	margin-left: 1rem;
	margin-right: 1rem;

}
@media (min-width: 1024px) {
  .contenedorTakeAway__imagenes--imagen {
	height: 24rem;

 }
}
.contenedorTakeAway__imagenes{
	width: 50%;
	display: flex;
	flex-direction: row;
	margin-top: 2.5rem;
}
.contenedorTakeAway__imagen{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

